#titlegrid {
	margin: 0;
	background-color: white;
	height: 70px;
	display: grid;
	grid-template-columns: 1fr;
	border-bottom: 3px solid #777;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#title {
	margin-top: 15px;
	font-size: 38px;
}
#title:hover {
	color: #777;
	/*font-size: 40px;*/
}


#heading {
	/*article title*/
	font-size: 45px;
	font-weight: bold;
	font-family: georgia, helvetica;
	font-style: italic;
}
#subtitle {
	font-size: 25px;
	font-weight: normal;
	color: dimgrey;
}
#subtitlehr {
	color: grey;
	height: 1px;
	margin-bottom: 15px;
}
body {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 50px;
}

p {
	font-size: 26px;
}

#backitup {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	color: #aaa;
}

.caption {
	font-size: 24px;
	font-family: pacifico;
	color: #789;
	margin-top: 10px;
	margin-bottom: 20px;
}

#author {
	display: block;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	color: #555;
}
#date {
	font-size: 16px;
	font-family: sans-serif;
	color: #777;
}
h4.sources {
	font-size: 35px;
	color: #333;
	font-family: helvetica;
	margin-bottom: 0;
	margin-top: 0;
}
h4.sources:hover {
	color: #888;
}
ul.sources li {
	font-size: 25px;
	color: #444;
	font-family: serif;
}





