#titlegrid {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
}

#title {
	font-size: 35px;
}
#heading {
	/*article title*/
	font-size: 45px;
	font-weight: bold;
	font-family: georgia, helvetica;
	font-style: italic;
}

#subtitle {
	font-size: 25px;
	font-weight: normal;
	color: dimgrey;
}
#subtitlehr {
	color: grey;
	height: 1px;
	margin-bottom: 15px;
}

body {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 50px;
}

p {
	font-size: 24px;
}